:root {
  --color-yellow: #fdc913;
  --color-gray-light: #5f5f5f;
  --color-gray-dark: #292929;
  --color-red: #ce2829;
  --color-beige: #faf7f2;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 480px;
}

.dflexc {
  display: flex;
  flex-direction: column;
}

.dflexr {
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {
  body {
    min-width: 100%;
  }
}
